@import "tailwindcss";

:root {
    --color-blue-primary: #2563eb;
    --color-blue-secondary: #60a5fa;
    --color-blue-surface: #eff6ff;
    --color-blue-border: #93c5fd;
}

button {
    cursor: pointer;
}